# Assign parallel input data lines
set_io S[0] 38
set_io S[1] 39
set_io S[2] 41
set_io S[3] 42
set_io S[4] 43
set_io S[5] 44
set_io S[6] 45
set_io S[7] 47

set_io Q[0] 113
set_io Q[1] 115
set_io Q[2] 117
set_io Q[3] 119
set_io Q[4] 121
set_io Q[5] 128
set_io Q[6] 134
set_io Q[7] 136

# Assign control signals
set_io rst_n 37
set_io clk 73
set_io clk_copy 112
set_io locked 74